.form-control {
    border-radius: 15px;
    /*background-color: #C3CEDA;
    color: #071330;*/
}
/*
.form-control:hover {
    background-color: #C3CEDA;
    color: #071330;
}*/

.title-style {
    text-align: center;
    border-radius: 15px;
    background-color: #BBC8DE;
    color: #122620;
}

.body {
    /*background-color:#C3E0E5;*/
}

.create-button {
    background-color: #0C4160;
    color: white;
}

.create-button:hover {
    background-color: #071330;
    color: white;
}