.project-table {
    border-collapse: separate;
    border-spacing: 10px 10px;
    width: 45%;
}

.delete-button {
    border: 1px solid black;
    margin: 20px;
    background-color: #E87A00;
    color: #001F3D;
}

.delete-button:hover {
    background-color: #FF5D00;
    color: white;
}

.delete-proyect-button {
    margin-right: 20px;
    background-color: #E87A00;
    color: white;
}

.delete-proyect-button:hover {
    background-color: #FF5D00;
    color: #001F3D;
}



