.task-title-style {
    text-align: center;
    border-radius: 15px;
    background-color: #BBC8DE;
    color: #122620;
}

.create-button-task {
    background-color: #0C4160;
    color: white;
}

.create-button-task:hover {
    background-color: #071330;
    color: white;
}