.add-task-button {
    color: #D4F1F4;
    background-color: #214ED3;
    margin-right: 40px;
}

.add-task-button:hover {
    color: white;
    background-color: #00478F;
}

.delete-task-button {
    margin-left: 20px;
    background-color: #E87A00;
    color: white;
}

.delete-task-button:hover {
    background-color: #FF5D00;
    color: #001F3D;
}

.button {
    margin-left: 20px;
}

.tarea {
    margin-left: 10px;
}
